*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Formato del Cuerpo de la página*/
body{
    font-family: 'Roboto', sans-serif; /*Cambiar Roboto por la letra deseada*/
    background-color: #ffffff;
    color: #000000; /*Texto*/

    /* Pattern from https://www.heropatterns.com/ */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23b9b0b0' fill-opacity='0.2' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    
    /*background: url(img/DOBLE_AA.png); /*Para usar una imagen de fondo*/

    font-size: 16px;
    
}


/*Formato de etiquetas "a"*/
a{
    color:#000000;
    text-decoration: none;
}
/*Formato de etiquetas "ul"*/
ul{
    list-style:none;
}

/*Formato de clase Container*/
.container{
    width: 90%;
    margin: auto;
}

/*Formato de clase Navigation*/
/* Navigation*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 0px;
}

.nav-brand{
    width: 200px;
}

/*Nav Left*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
    text-align: center;
}
.nav-main ul li a{
    padding: 6px;
    
}
.nav-main ul li a:hover{
    border-bottom: 2px solid #000000;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

/* Botón de Menú que aparece para resolución menor a 700 px*/
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
    z-index: 2;
    display: none;
}

/* Formato de clase SHOWCASE*/

hr{
    margin: 10px 0px;
}

.showcase{ /*Formato, estamos modificando ancho, altura, fondo, color, padding, margen inferior*/ 
    width: 100%;
    height: 550px;
    background: url('./img/Fondo.jpg') no-repeat center center/cover;
    color: #ffffff;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* FORMATO DE BOTON CENTRAL*/
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0px;
}

.btn:hover{
    opacity: .5;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/*Formato de las divisiones centrales: "FOTOS"*/

.news-cards {
    display: grid; /* Para ver las columnas*/
    grid-template-columns: repeat(4, 1fr); /*cantidad de columnas*/
    gap: 25px; /* Espacio entre columnas*/
}

.news-cards img{ /*Formato para las imagenes, alto, ancho, espaciado y margen*/
    width: 100%;
    height: 180px;
    gap: 25px;
    margin: 10px 0px;
}

.news-cards h3{ /*Formato para los títulos H3, tamaño de letra y margen*/
    font-size: 20px;
    margin: 10px 0px;
}

.news-cards a{
    padding: 10px 0px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline;
}

/*Cuando se pasa el mouse sobre el texto se pinta del color de abajo*/
.news-cards p:hover{ 
    background-color: rgba(0, 0, 0, 0.05);
}


/*Clase para el Banner Central*/
.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url('./img/Banner6.jpg') no-repeat center center/cover;
    opacity: 0.7;
    margin-bottom: 40px;
}

.cards-banner-one .content{
    width: 50%;
    padding: 50px 0px 0px 30px;
    color: #ffffff;
}

.cards-banner-one p,
.cards-banner-one h2{ 
    color: #000;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    margin: 10px 0 20px 0;
}

/*Clase para el Banner Footer*/
.cards-banner-two{
    width: 100%;
    height: 350px;
    background: url('./img/Banner1.jpg') no-repeat center center/cover;
    opacity: .9;
    margin-bottom: 40px;
}

.cards-banner-two .content{
    width: 50%;
    padding: 100px 0px 0px 30px;
    color: #ffffff;
}

.cards-banner-two p,
.cards-banner-two h2{ 
    color: #000;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    margin: 10px 0 20px 0;
}

/*Redes Sociales*/

.social{
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}
.links a i {
    font-size: 2rem;
}

/*Footer LINKS*/

.footer-links {
    background-color: rgb(226, 226, 226,1);
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}
  
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
}
  
.footer-container ul {
    margin: 0 auto;
    text-align: center;
}

.footer-links ul li {
    line-height: 2;
}
  
/*INI Configuración PIE de Pág*/
.footer {
    background-color: rgb(226, 226, 226,1);
    color: #616161;
    font-size: 10px;
    padding: 15px 0;
    text-align: center;
    padding-bottom: 15px;
}
/*FIN Configuración PIE de Pág*/

/*Configuración para tamaño de pantalla más pequeño*/

@media (max-width: 890px) {


    .menu-btn{
        display: block;
    }

    .nav-main ul.nav-menu{
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         background-color: rgb(248, 247, 247);
         height: 100%;
         padding: 30px;
         opacity: .9;
         transform: translateX(-400px);
         transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 14px;
   }

   .nav-main ul.nav-menu-right{
       margin-right: 40px;
   }
    .news-cards{
        grid-template-columns: repeat(2,1fr);
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 80%;
    }

    .footer-links .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 650px) {

    
    .news-cards{
        grid-template-columns: 1fr;
    }
    .news-cards img{
        height: 300px;
    }

    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 100%;
        padding: 60px 20px; 
    }

    .footer-links .footer-container{
        grid-template-columns: 1fr;
    }
}